In [1]:
import pandas as pd
import seaborn as sns
import rho_plus as rp
from baysic.utils import quick_view, json_to_df
IS_DARK = False
theme, cs = rp.mpl_setup(IS_DARK)
rp.plotly_setup(IS_DARK)

BokehDeprecationWarning: "Use of 'Figure' as a key in Theme attributes" was deprecated in Bokeh 3.0.0 and will be removed, use "'figure' (lower-case) as a key" instead.
BokehDeprecationWarning: "Use of 'Figure' as a key in Theme attributes" was deprecated in Bokeh 3.0.0 and will be removed, use "'figure' (lower-case) as a key" instead.

In [6]:
from pathlib import Path
run_id = Path('logs') / '10-23' / 'Xe2F8' / '1'

dfs = []
for group in range(1, 231):
    path = run_id / f'{group}.json'
    if path.exists():
        dfs.append(json_to_df(path))

dfs = pd.concat(dfs)
df.head()

,struct,e_form,lat_matrix,gen_attempt,num_assignments,num_assignments_failed_span,volume_ratio,volume,wyckoff_letters,total_dof,group_num,num_total_coords,num_filtered_coords,num_outputs,num_distance_checks,group_number,group_symbol,lattice_type,num_attempts
0,"[[0. 0. 0.25302551] Xe, [ 2.00...",48.008770,"[[2.0034534931, -3.4700832367, 0.0], [2.003453...",0,-1,0,1.481046,43.237583,a_c_d_a_d_b,10,143,"[12, 95, 500, 500, 500, 500]","[12, 95, 500, 500, 500, 500]",500,10824912,143,P3,hexagonal,15
1,"[[0. 0. 0.25302551] Xe, [ 2.00...",39.069122,"[[2.0034534931, -3.4700832367, 0.0], [2.003453...",0,-1,0,1.481046,43.237583,a_c_d_a_d_b,10,143,"[12, 95, 500, 500, 500, 500]","[12, 95, 500, 500, 500, 500]",500,10824912,143,P3,hexagonal,15
2,"[[0. 0. 0.25302551] Xe, [ 2.00...",34.816299,"[[2.0034534931, -3.4700832367, 0.0], [2.003453...",0,-1,0,1.481046,43.237583,a_c_d_a_d_b,10,143,"[12, 95, 500, 500, 500, 500]","[12, 95, 500, 500, 500, 500]",500,10824912,143,P3,hexagonal,15
3,"[[0. 0. 0.25302551] Xe, [ 2.00...",52.443951,"[[2.0034534931, -3.4700832367, 0.0], [2.003453...",0,-1,0,1.481046,43.237583,a_c_d_a_d_b,10,143,"[12, 95, 500, 500, 500, 500]","[12, 95, 500, 500, 500, 500]",500,10824912,143,P3,hexagonal,15
4,"[[0. 0. 0.25302551] Xe, [ 2.00...",16.251057,"[[2.0034534931, -3.4700832367, 0.0], [2.003453...",0,-1,0,1.481046,43.237583,a_c_d_a_d_b,10,143,"[12, 95, 500, 500, 500, 500]","[12, 95, 500, 500, 500, 500]",500,10824912,143,P3,hexagonal,15